.header {
    position: fixed;
    z-index: 9;
    top: 0;
    width: 100%;
    max-width: 1920px;
    padding-block: 10px;
    background: transparent;
    transition: all .3s;
}

.header__topLogo img {
    height: 40px;
    object-fit: cover;
    max-width: 138px;
}

/* Search */
.header__search {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    flex: 1;
}

.menu__list {
    cursor: pointer;
}

.menu__list:hover>div {
    background-image: linear-gradient(270deg, #ffd900, #b45264 93.68%) !important;
}

.menu__item:hover {
    color: #ffa00a !important;
    background-color: #000 !important;
}

.menu__item {
    padding-inline: 15px !important;
    color: #fff !important;
    font-size: 16px !important;
}