.container {
    padding-block: 32px;
}

.wrap__input {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-block: 12px;
}

.qrImg {
    margin: 0 auto;
    padding-top: 100%;
    object-fit: cover;
    position: relative;
}

.qrImg img {
    object-fit: contain;
}